
.b{
font-family: arial;
font-weight: bold;
margin-bottom: 2px;
font-size: 24px;
}
.bb{
font-family: arial;
color: red;
margin-top: 0;
}
.c{
font-family: Verdana;
font-weight: bold;
margin-bottom: 0px;
font-size: 18px;
}
.cc{
font-family: Verdana;
color: rgb(100, 97, 97);
margin-bottom: 15px;
margin-top: 0;
}
.ccc{
font-family: Verdana;
margin-top: 0;
width: 300px;
}
