p{
    font-family: Montserrat;
    margin-top: 0;
    margin-bottom: 0;
    width: 290px;
}
.a{
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
}
.span{
    text-decoration: underline;
}